<p id="notice"><%= notice %></p>

<p>
  <strong>Ordering date:</strong>
  <%= @order.created_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @order.remark %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
